<div>
    <% if @user.id == current_user.id %>

        <p>
        <strong>Email:</strong>
            <%= @user.email %>
        </p>

          
        <%= link_to 'Back', users_path %>

        <% elsif current_user.followers.include?(@user) %>
        
            <p>
            <strong>Email:</strong>
                <%= @user.email %>
            </p>

            
            <%= link_to 'Back', root_path %>
            <h5><%= button_to "Unfollow", unfollow_user_path, method: "POST" %></h5>
        <% else %>
        
            <p>
            <strong>Email:</strong>
                <%= @user.email %>
            </p>
         
       
            <%= link_to 'Back', users_path %>
            <h5><%= button_to "Follow", follow_user_path, method: "POST"  %></h5>
    <% end%>
    <br>
</div>